<p>
</p>
<h1><%= t('welcome') %></h1>
<p>
<p>You're acessing this website at <strong><%= l(Date.today) %></strong>. The language set is <strong><%= t('language') %></strong>.</p>
<ul>
    <li>
        <%= link_to "Register coins here!", coins_path %>            
    </li>
        
    <li>
        <%= link_to "Register Miningsdkogksdjlgljk Types here!", mining_types_path %>
    </li>

    <p>You are in the <strong><%=env_en%></strong> environment.</p>
    <p>Você está em ambiente de <strong><%=env_pt%></strong>.</p>
</ul>
</p>