<!DOCTYPE html>
<html>
  <head>
    <title>RailsWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <center>
    <h1>CRYPTO WALLET</h1>
    <hr>
    <br>

    <%= yield %>
    
    <br>
    <hr>
    <h4>Developed by</h4>
    <h3>Arthur Araujo Rios Milanez</h3>
    </center>
  </body>
</html>
