<div id="<%= dom_id coin %>">
  <p>
  <%= image_tag coin.image_url, width:45, height:45 %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong> <%= link_to "Show this coin", coin %> </strong>
  </p>

  <br> 

</div>
