<div id="<%= dom_id coin %>">
  <p>
  <%= image_tag coin.image_url, width:45, height:45 %>
  </p>
  
  <p>
    <strong><%= Coin.human_attribute_name(:description) %>:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong><%= Coin.human_attribute_name(:acronym) %>:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong> <%= link_to t('show'), coin %> </strong>
  </p>

  <br> 

</div>
